[Unit]
Description=EBot
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
WorkingDirectory=/opt/ebot
ExecStart=/opt/ebot/deploy/ebot.sh start
ExecStop=/opt/ebot/deploy/ebot.sh stop
ExecReload=/opt/ebot/deploy/ebot.sh reload
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
